body {
    background: linear-gradient(rgba(133, 133, 253, 0.384), rgba(48, 190, 148, 0.473));
}

.img01 {
    width: 120px;
    float: left;
}

.img02 {
    width: 100%;
    height: 600px;
}

nav {
    position: absolute;
    right: 2%;
    top: 8.5%;
    transform: translate(0, -50%);
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    padding: 7px;
    background-color: rgb(44, 123, 219);
    color: white;
    font-weight: 200;
    font-size: 16px;
}

nav a:hover {
    background-color: rgb(89, 192, 44);

}

.maintitle {
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    margin-top: -4px;
    margin-bottom: 50px;
}

a {
    padding-right: 10px;
}

section {
    margin-left: 160px;
}

dt {
    margin-bottom: -18px;
}

.img1 {
    width: 80px;
    float: left;
}

.img2 {
    width: 150px;
    float: left;
}

footer {
    text-align: end;
}

.rules h3 {
    text-align: center;
}

.subtitulo {
    text-align: center;
}

.parrafo1 {
    text-indent: 15px;
}

.rules h2 {
    text-align: center;
}

.tabla {
    display: flex;
    justify-content: center;
}

table,
td,
th {
    table-layout: fixed;
    text-align: center;
    width: 70%;
    border-collapse: collapse;
    background: linear-gradient(rgba(0, 253, 13, 0.384), rgba(48, 190, 131, 0.473));
    border: 2px solid rgb(8, 8, 8);
    font-weight: bold;
}

.parrafosjuntos {
    display: flex;
}

.prf1 {
    margin-right: 50%;
}

.registro {
    text-align: center;
}

form {
    position: relative;
    width: 850px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background: #8362f869
}

.btn-enviar {
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

.btn-enviar button {
    border-radius: 50px;
    width: 250px;
    height: 40px;
    background: linear-gradient(rgb(145, 240, 57), rgba(48, 190, 131, 0.473));
    font-weight: bold;
    cursor: pointer;
}

input{
    padding: 5px;
    border-radius: 15px;
    background: linear-gradient(rgb(36, 248, 195), rgba(255, 255, 255, 0.473));
    margin-bottom: 5px;
}

label{
    padding-right: 5px;
}

::placeholder{
    color: rgb(174, 0, 255);
    font-weight: bold;
}