body {
    background: linear-gradient(rgba(133, 133, 253, 0.384), rgba(48, 190, 148, 0.473));
}

table,
td,
th {
    table-layout: fixed;
    text-align: center;
    width: 50%;
    height: 55px;
    border-collapse: collapse;
    background: linear-gradient(rgb(207, 178, 247), rgb(3, 205, 255));
    border: 1px dashed rgb(0, 0, 0);
    font-weight: bold;
}

.btn_main{
    background-color: rgb(186, 174, 253);
    height: 70px;
    width: 70px;
    border-radius: 70px;
}

.back{
    text-align: center;
    margin: 30px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}